.map {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  &-soma {
    background-image: url(../assets/img/bg-map-soma.jpg);
    height: 1615px;
  }
  &-mission {
    background-image: url(../assets/img/bg-map-mission.jpg);
    height: 834px;
  }
}